<!doctype html>
<html lang="en">
  <head>
    <title>Community Service Options</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="imgs/Document.png" type="image/x-icon" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />

  <!--FONTS-->
    <link rel="stylesheet" href="https://use.typekit.net/lju3vpk.css" />

    <!-- Vue Connect -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/zhg3ryu.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="imgs/Document.png"
              alt="Logo"
              width="100"
              class="d-inline-block align-text-top"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="helpers.html">Helpers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- SEARCH BAR -->
      <section class="search-bar">
        <input type="text" placeholder="Search..." />
        <select>
          <option>This</option>
          <option>That</option>
          <option>Other</option>
          <option>More</option>
        </select>
      </section>

      <div id="app" class="mx-4">

        <div class="row">
          <div class="p-2 col-md-6" v-for="(helper, index) in helpers" :key="index">
            <div class="infocard p-3">
                <h3>{{ helper.name.first }} {{ helper.name.last }}</h3>
              <h5>a {{ helper.grade }} grader located in {{ helper.location }}</h5>
              <p>{{ helper.blurb }}</p>
              
              <button type="button" class="btn" id="modalbtn" data-bs-toggle="modal" :data-bs-target="'#modal-' + index">More Information</button>

            </div>

            <div class="row">
          <div class="p-2 col-md-6" v-for="(helper, index) in helpers" :key="index">
            <div class="infocard p-3">
                <h3>{{ helper.name.first }} {{ helper.name.last }}</h3>
              <h5>a {{ helper.grade }} grader located in {{ helper.location }}</h5>
              <p>{{ helper.blurb }}</p>
              
              <button type="button" class="btn" id="modalbtn" data-bs-toggle="modal" :data-bs-target="'#modal-' + index">More Information</button>

            </div>

            <!-- Modal -->
            <div class="modal fade" :id="'modal-' + index" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-fullscreen">
                <div class="modal-content card p-2 rounded-0">
                  
                  <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">{{ helper.name.first }} {{ helper.name.last }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <!-- Info -->
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-8">
                        <h5>Location: {{ helper.location }}</h5>
                        <h5>Date Posted: {{ makeTextDate(helper.datePosted) }}</h5>
                        <h5>Time Commitment: {{ helper.timeCommitment[0] }} - {{ helper.timeCommitment[1] }}</h5>

                        <p>{{ helper.description }}</p>
                      </div>

                      <div class="col-md-4">
                          <h5>Looking For:</h5>
                          <ul>
                            <li v-for="(look, lookIndex) in helper.lookingFor" :key="lookIndex">{{ look }}</li>
                          </ul>
                          <h5>Given Experience:</h5>
                          <ul>
                            <li v-for="(exp, expIndex) in helper.exp" :key="expIndex">{{ exp }}</li>
                          </ul>
                          <h5>Contact Information:</h5>
                          <ul>
                            <li v-for="(contactInfo, contactIndex) in helper.contact" :key="contactIndex">{{ contactInfo }}</li>
                          </ul>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
